.menu-items {
    background-color: #F2F7FC;
    border-radius: 25px;
    padding: 12px 20px;
    box-shadow: 0 0 5px 0 #c3c3c3;
}

.menu-item {
    padding: 20px 0px;
    margin: 0 20px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    background-color: #E1E8EF;
    cursor: pointer;
}

.menu-item .text-wraper {
    font-size: 14px;
}

.menu-item .icon-wraper {
    margin: 5px 50px;
    color: #7E7C79
}

.menu-item .icon-wraper svg {
    width: 20px;
    height: 20px;
}

.menu-item.active {
    color: white !important;
    background-image: linear-gradient(to right, #FF9C1B, #EB1D08);
}

.menu-item.active .icon-wraper {
    color: #ffffff
}

.menu-item:hover {
    background-color: #ced4da;
}

.menu-item:hover .text-wraper {
    color: white;
}

.menu-item:hover .icon-wraper {
    color: white
}

.left-content-wraper,
.right-content-wraper {
    background-color: white;
    /* box-shadow: 0 0 5px 0 #c3c3c3; */
    border-radius: 15px;
    padding: 10px
}

.left-content-wraper .name {
    font-weight: 500;
    margin-top: 10vh;
}

.left-content-wraper .position {
    color: #858484;
    font-weight: 400;
}

.left-content-wraper .social-media-item {
    display: inline-block;
    padding: 20px;
    background-color: #F2F7FC;
    border-radius: 15px;
    margin: 10px 5px;
}

.left-content-wraper .social-media-item:hover {
    background-color: #dee1e4;
    cursor: pointer;
}

.left-content-wraper .social-media-item svg {
    width: 25px;
    height: 25px;
}

.left-content-wraper .contact-details {
    text-align: left;
    background-color: #F2F5F9;
    margin: 10px;
    border-radius: 15px;
    padding: 40px;
}

.left-content-wraper .contact-details .detail-wraper .icon-wraper {
    padding: 25px;
}

.left-content-wraper .contact-details .detail-wraper .icon-wraper svg {
    width: 25px;
    height: 25px;
}

.left-content-wraper .contact-details .detail-wraper .detail .detail-title {
    font-size: 13px;
    color: #86837E;
    font-weight: 500;
}

.left-content-wraper .contact-details .detail-wraper .detail .detail-value {
    font-size: 13px;
    font-weight: 500;
}

.left-content-wraper .contact-details .detail-wraper {
    border-bottom: 1px solid #E3E3E3;
}

.left-content-wraper .contact-details .download-resume {
    margin: 15px 0;
}

.left-content-wraper .contact-details .download-resume button {
    background-image: linear-gradient(to right, #FF9C1B, #EB1D08);
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 13px;
}

.left-content-wraper .contact-details .download-resume button:hover {
    opacity: 0.9;
}

.left-content-wraper .contact-details .download-resume button svg {
    width: 15px;
    height: 15px;
    font-weight: 900;
    margin: 0 10px;
}

.left-content-wraper .contact-details .download-resume button .text {
    display: inline-block;
}

.right-content-wraper section {
    margin: 20px 70px;
}

.right-content-wraper .header .header-title {
    margin-right: 30px;
    font-weight: 500;
    font-size: 40px;
}

.right-content-wraper .header .header-line {
    width: 30%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #FF9C1B, #EB1D08);
    border-radius: 50%;
}

.right-content-wraper .header2 .header-title {
    margin: 30px 0;
    font-weight: 500;
    font-size: 35px;
}