.resume-wraper>div,
.skills-wraper>div {
    width: 45%;
}

.resume-wraper .header .title {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
}

.resume-wraper .header svg {
    height: 25px;
    width: 25px;
    fill: linear-gradient(to right, #FF9C1B, #EB1D08);
}

.resume-wraper .detail-box {
    background-color: #FFE3BF;
    border-radius: 10px;
    margin: 10px 0;
    padding: 30px 20px;
    font-family: 'Raleway', sans-serif;
}

.resume-wraper .detail-box .time-duration {
    color: #948167;
}

.resume-wraper .detail-box .title{
    font-weight: 600;
}
.resume-wraper .detail-box .school-or-clg  {
    font-weight: 500;
}


.skills-wraper {
    padding: 20px 70px;
    background-color: #F8FBFB;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.skills-wraper .skills .skill {
    padding: 6px 13px;
    margin: 8px 8px 8px 0px;
    border-radius: 10px;
    background-color: #E1E8EF;
}

.skills-wraper .title {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 500;
}


@media(max-width: 992px) {
    .skills-wraper .skills .skill {
        padding: 5px 10px;
        margin: 5px 5px 5px 0px;
        font-size: 11px;
    }
}

@media(max-width: 768px) {
    .resume-wraper>div, .skills-wraper>div {
        width: 100%;
    }

    .resume-wraper .detail-box {
        padding: 20px;
    }

    .resume-wraper .detail-box .time-duration, .resume-wraper .detail-box .title, .resume-wraper .detail-box .school-or-clg {
        font-size: 13px;
    }

    .resume-wraper {
        flex-wrap: wrap;
    }

    .resume-wraper .header .title {
        font-size: 20px;
    }

    .skills-wraper {
        padding: 20px;
        flex-wrap: wrap;
    }
}

